name: MERN CI

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
  
  step:
    - name: deploy via ssh
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd devops-mern-todo/
          git pull origin main
          docker-compose down
          docker-compose up --build -d